#register{
    background-image: url(fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

small{
    color: red;
}

.error{
    color: red;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

